name: Update CI

on:
  push:
    branches: ["main"]
  workflow_dispatch:
  schedule:
    - cron: "0 0 * * *"

permissions:
  contents: write
  pages: write
  id-token: write

jobs:
  build:
    runs-on: self-hosted

    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Generate datas
        run: nix run

      - name: Commit everything and push
        uses: stefanzweifel/git-auto-commit-action@v5
        with:
          commit_message: Update databases ${{ github.event.repository.updated_at}}
          commit_user_email: buckle_scouts3y@icloud.com
          commit_author: Xinux Manager <buckle_scouts3y@icloud.com>
